
.fl{
  float: left;
}
.fr{
  float: right;
}
.el-step__title {
  font-size: 14px;
}

.border-e0{
  border: 1px solid #e0e0e0;
}

.border-blue{
  border: 1px solid #409EFF;
}

.color-3{
  color: #333;
}

.color-9{
  color: #999;
}

.color-4d{
  color: #4d4d4d;
}

.color-blue{
  color: #409EFF;
}

.color-f{
  color: #fff;
}

.color-8a{
  color: #8a8a8a;
}

.bg-blue{
  background: #409EFF;
}

.bg-e{
  background: #eee;
}

.kong{
  height: 10px;
  width: 100%;
  background-color: #e0e0e0;
}

.circle-grey{
  background-color: #333;
}

ul{
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

